<div class="container">
  <h1>Pet Shelter</h1>
  <h4>These pets are looking for a home!</h4>
  <button class="btn btn-primary" [routerLink]="['/new']">Add a pet to the shelter</button>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let p of pets">
        <tr>
          <td>{{p.name}}</td>
          <td>{{p.type}}</td>
          <td>
              <button class="btn btn-primary" [routerLink]="['/pets', p._id]">Details</button>
              <button class="btn btn-success" [routerLink]="['/edit/pets', p._id]">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
