<div class="container">
    <h1>Pet Shelter</h1>
    <button class="btn btn-primary" [routerLink]="['/pets']">Home</button>
    <h4>Details About {{ petForEdit.name }}:</h4>
    <p>Pet type: {{petForEdit.type}}</p>
    <p>Pet Description: {{petForEdit.description}}</p>
    <p>Pet Skills:</p>
    <div *ngFor="let s of petForEdit.skills">
      <ul>
        <li>{{s.skill1}}</li>
        <li>{{s.skill2}}</li>
        <li>{{s.skill3}}</li>
      </ul>
    </div>
    <p *ngIf="like_error" class="text-danger">{{like_error}}</p>
    <p>Likes: {{petForEdit.likes}}</p>
    <button id="#disablebtn" class="btn btn-warning" (click)="addRemoveVote(petForEdit._id, 1)">Like</button>
    <button class="btn btn-danger" (click)="deletePet(petForEdit._id)">Adopt the Pet</button>
    
  </div>